# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# VSCode
.vscode/

# Logs
*.log

# Node.js dependencies
node_modules/

# Ignore npm lockfile
package-lock.json

# Build output
dist/
build/
*.css.map
